<div class="departures">
  <div *ngIf="directions">
    <label for="direction">Wybierz kierunek:</label>
    <select
      id="direction"
      [(ngModel)]="selectedDirection"
      (change)="onDirectionChange()"
    >
      <option *ngFor="let direction of directions" [value]="direction">
        {{ direction }}
      </option>
    </select>
  </div>

  <div *ngIf="filteredStops">
    <label for="stop">Wybierz przystanek:</label>
    <select id="stop" [(ngModel)]="selectedStop" (change)="onStopChange()">
      <option *ngFor="let stop of filteredStops" [ngValue]="stop">
        {{ stop }}
      </option>
    </select>
  </div>

  <div *ngIf="selectedStop">
    <h3>Następny odjazd z {{ selectedStop }}:</h3>
    <h4 *ngIf="nextDepartureTime">{{ nextDepartureTime }}</h4>
  </div>

  <div *ngIf="selectedStop">
    <h3>Odjazdy z {{ selectedStop }}</h3>

    <div class="departure-times">
      <p *ngFor="let time of getDeparturesForStop(selectedStop)">
        {{ time }}
      </p>
    </div>
  </div>

  <h4>Wkrótce do pobrania aplikacja mobilna</h4>
</div>
